html,body{ 
	width:100%;
	height:100%;
  /* 页面文字不可选中 */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

canvas{
  display:block;
  vertical-align:bottom;
}

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


#particles-js{
	width: 100%;
	height: 100%;
	position: relative;
  /* background-image: url(../img/bg.jpg); */
  background-color: #4bcece;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
}
#kontrol{
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
}
.kontrol-tools-lists{background-color: #333333;}
.kontrol-tools-list {width: 100px;margin-top: 200px;flex-shrink: 0;}
.kontrol-tools-list .kontrol-tools-bar div{position: relative;height: 60px;background: white;box-shadow: 0px 0px 5px #333333;cursor: pointer;}
.kontrol-tools-list .kontrol-tools-bar div a{top:50%;left:48%;position:absolute;-webkit-transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);transform:translate(-50%,-50%);}
.kontrol-tools-list .kontrol-tools-bar div:hover{background-color: #4bcece;}
.kontrol-tools-context{position: relative;height: 100%;width: 100%;overflow-y: scroll;overflow-x: hidden;padding: 20px 20px 10px;white-space:normal; word-break:break-all;}
